Repository TheParkers/TheParkers, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, frontend, frontendtest, frontendfeature, frontendservice, frontendmodel, frontendassets, frontendenvironment, frontenddocker, frontendupdatereadme, CI/CD, backend, backendfeature, backendtest, backendmodels, backendviews, backendurls, backendenvironment, backendrequirementsupdate, backenddocker, backendupdatereadme

Adding update for user sign up API
  backend/.gitignore
  backend/apps/customAuth/__init__.py
  backend/apps/customAuth/admin.py
  backend/apps/customAuth/apps.py
  backend/apps/customAuth/custombackend.py
  backend/apps/customAuth/models.py
  backend/apps/customAuth/test/tests.py
  backend/apps/customAuth/views.py
  backend/apps/users/models.py
  backend/apps/users/serializers.py
  backend/apps/users/views.py
  backend/django_project/settings_dev.py
  backend/django_project/urls.py
  backend/requirements.txt
Labels: backend, backendfeature, backendtest, backendmodels, backendviews, backendrequirementsupdate

fixing import error
  backend/apps/users/models.py
Labels: backend, backendfeature, backendmodels

updating dependecy
  backend/requirements.txt
Labels: backend, backendrequirementsupdate

removing django default auth user
  backend/apps/users/models.py
  backend/django_project/settings_dev.py
Labels: backend, backendfeature, backendmodels

adding register user funcionality
  backend/apps/customAuth/admin.py
  backend/apps/customAuth/apps.py
  backend/apps/customAuth/custombackend.py
  backend/apps/customAuth/models.py
  backend/apps/customAuth/test/tests.py
  backend/apps/customAuth/views.py
  backend/apps/users/models.py
  backend/apps/users/serializers.py
  backend/apps/users/services/__init__.py
  backend/apps/users/services/firebase.py
  backend/apps/users/test/test_users.py
  backend/apps/users/urls.py
  backend/apps/users/views.py
  backend/django_project/settings_dev.py
Labels: backend, backendfeature, backendtest, backendmodels, backendviews, backendurls

deleting print statement
  backend/apps/users/views.py
Labels: backend, backendfeature, backendviews

reformating service call
  backend/apps/users/services/firebase.py
Labels: backend, backendfeature

omiting admin files from test coverage
  .github/workflows/config.yml
Labels: CI/CD

adding duplicate user check in register
  backend/apps/users/models.py
  backend/apps/users/test/test_users.py
  backend/apps/users/views.py
Labels: backend, backendfeature, backendtest, backendmodels, backendviews

updating delete user flow
  backend/apps/users/models.py
  backend/apps/users/test/test_users.py
  backend/apps/users/views.py
Labels: backend, backendfeature, backendtest, backendmodels, backendviews

adding signin and token auth
  backend/apps/parkersauth/__init__.py
  backend/apps/parkersauth/apps.py
  backend/apps/parkersauth/models.py
  backend/apps/parkersauth/permissions/IsUserLoggedIn.py
  backend/apps/parkersauth/permissions/__init__.py
  backend/apps/parkersauth/test/__init__.py
  backend/apps/parkersauth/test/test_auth.py
  backend/apps/parkersauth/urls.py
  backend/apps/parkersauth/utils/__init__.py
  backend/apps/parkersauth/utils/jwttoken.py
  backend/apps/parkersauth/views.py
  backend/apps/users/admin.py
  backend/apps/users/models.py
  backend/apps/users/test/test_users.py
  backend/apps/users/urls.py
  backend/apps/users/views.py
  backend/django_project/settings_dev.py
  backend/django_project/urls.py
  backend/requirements.txt
Labels: backend, backendfeature, backendtest, backendmodels, backendviews, backendurls, backendrequirementsupdate

remvoing django-admin
  backend/django_project/urls.py
Labels: backend

update test for get user by id
  backend/apps/users/test/test_users.py
  backend/apps/users/views.py
Labels: backend, backendfeature, backendtest, backendviews

updating get one api and signin tests
  backend/apps/parkersauth/test/test_auth.py
  backend/apps/parkersauth/views.py
  backend/apps/users/test/test_users.py
  backend/apps/users/views.py
Labels: backend, backendfeature, backendtest, backendviews

ignoring __init__ files for coverage
  .github/workflows/config.yml
Labels: CI/CD

adding minor fixes
  backend/apps/parkersauth/permissions/IsUserLoggedIn.py
  backend/django_project/settings_dev.py
Labels: backend, backendfeature

reorganising API's
  backend/apps/parkersauth/permissions/IsUserLoggedIn.py
  backend/apps/users/test/test_users.py
  backend/apps/users/urls.py
  backend/apps/users/views.py
Labels: backend, backendfeature, backendtest, backendviews, backendurls

removing redundant crud operation
  backend/apps/users/views.py
Labels: backend, backendfeature, backendviews

fixing unit tests
  backend/apps/parkersauth/permissions/IsUserLoggedIn.py
  backend/apps/users/test/test_users.py
Labels: backend, backendfeature, backendtest

removing redundant print statement
  backend/apps/parkersauth/permissions/IsUserLoggedIn.py
Labels: backend, backendfeature

removing redundant imports
  backend/apps/parkersauth/views.py
Labels: backend, backendfeature, backendviews

remove unused imports
  backend/apps/users/models.py
Labels: backend, backendfeature, backendmodels

small local update
  backend/apps/users/models.py
  backend/django_project/settings_dev.py
Labels: backend, backendfeature, backendmodels

.github/labeler.yml:

repo:
- '*'




frontend:
- any: ['frontent/*]*']

frontendtest:
- any: ['frontent/src/**/*.spec.js']

frontendfeature:
- any: ['frontent/src/app/components/**']

frontendservice:
- any: ['frontent/src/app/services/**']

frontendmodel:
- any: ['frontent/src/app/models/**']

frontendassets:
- any: ['frontent/src/assets/**']

frontendenvironment:
- any: ['frontent/src/environments/**']

frontenddocker:
- any: ['frontend/Dockerfile']

frontendupdatereadme:
- any: ['frontend/README.md']



CI/CD:
- any: ['.github/**']


backend:
- any: ['backend/**']

backendfeature:
- any: ['backend/apps/**']

backendtest:
- any: ['backend/apps/**/test/**']

backendmodels:
- any: ['backend/apps/**/models.py']

backendviews:
- any: ['backend/apps/**/views.py']

backendurls:
- any: ['backend/apps/**/urls.py']

backendenvironment:
- any: ['backend/django_project/**', 'backend/manage.py']

backendrequirementsupdate:
- any: ['backend/requirements.txt']

backenddocker:
- any: ['backend/Dockerfile']

backendupdatereadme:
- any: ['backend/README.md']
